.logo {
    float: left;
    width: 48px;
    height: 48px;
    margin: 8px auto;
    background: center/contain url(./sibdev-logo.svg);
    cursor: pointer;
}

.layout {
    border:1px solid #F1F1F1;
}

.menu {
    width: 1040px;
    margin-left: 300px
}

.outlet {
    background-color: #FAFAFA;
}
