.outer {
    width: 1040px;
    margin-bottom: 30px;
}

.container {
    width: 687px;
    height: 88px;
    display: flex;
    justify-content: start;
    gap: 20px;
    cursor: pointer;
}

.h1 {
    font-size: 16px;
    line-height: 20px;
}

.pic {
    min-width: 157px;
    height: 88px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.desc {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: grey;
}

