.container {
    width: 245px;
    height: 226px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.h1 {
    font-size: 16px;
    line-height: 20px;
}

.pic {
    min-width: 245px;
    height: 138px;
    margin-bottom: 8px;
}

.title {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 8px;
}

.desc {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: grey;
}

.txt_container {
    height: 72px;
    max-width: 245px;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

